html,
body,
main#app {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #eee;
}

main#app {
    display: flex;
    flex-flow: column nowrap;
}

div#content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

div#content>section {
    width: 100%;
}

#alarm-indicator {
    width: available;
    background-color: green;
}

#alarm-indicator.alarm {
    background-color: red;
}


/* Toggle to deactivate aligned history logs */

#alarm-status,
#test-control {
    min-height: 45vh;
}

#test-control>button {
    width: 100%;
}


/* Remove in final app */

main#app * {
    outline: 1px solid black;
    padding: 15px;
}